.background {
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), #053b50;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
  display: none;
}

.nav {
  color: white;
}
